
/* * * * * * * *
  Overrides for CSS for more responsive/phone use - Rich Clingman
* * * * */

.channel {
    width: calc(100%/25);
}

.afl {
    width: calc(100% - 4px);
}

.fader {
    width:  calc(100% * 4);
}

.mute, .solo {
    width: calc(50% - 0px);
}

.mute.active {
    color: orangered;
}

p.label {
    color: #c0c0c0;
}

button.btn {
    color: #808080;
}

@media all and (max-width: 800px) {
    header {
        margin: 20px 0 15px;
    }

    #mixer {
        min-width: 0;
    }

    #meters {
        display: none;
    }

    header {
        display: none;
    }

    div#mixer {
        padding: 0;
    }

    button.btn {
        padding: 0;
    }

    .pan {
        display: none;
    }

    .channel {
        width: 30px;
        padding: 0;
    }

    div#master {
        padding: 0;
        margin: 0;
    }

    a#github-link {
        display: none;
    }

    .track {
        height: 170px;
        padding: 0;
    }

    canvas.meter {
        height: 128px;
    }

    #master .track {
        height: 222px;
    }

    div#mixer {
        height: auto;
    }

    div#mixer {
        min-height: 0;
    }

    div#controls {
        padding: 0;
    }

    div#mixer {
        margin: 10px 0 0 0;
        padding: 0;
    }

    canvas.clock {
        height: 40px;
    }

    .buttons {top: -15px;}
}

/*
Need to figure out how to restrict fader distance
 */
